.mainTitle{
    padding-left: 30px;
}

#banner {
    width: 100%;
}

.main{
    background: #CCCCCC;
    padding: 20px;
}

.centeredTitle {
    text-align: center;
}

p{
    text-align: center;
}

#mission{
    font-size: 20px;
}

em strong {
    color: red;
}


.whyalura {
    background: #FFFFFF;
    padding: 30px;
}

.whyus {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.differentiatorsImage {
    width: 50%;
}